<div class="center-block contents mt-4">
 <div class="card">
  <div class="card-header">
    <h3>住所変更</h3>
  </div>
   <%= render 'shared/error_messages' %>
  <div class="card-body m-4">
   <%= render partial: 'editForm' %>
  </div>
 </div>
</div>