<div class="center-block contents mt-4">
 <div class="card">
  <div class="card-header">
    <h3>注文内容入力</h3>
  </div>
  <%= render 'shared/error_messages' %>
  <div class="card-body m-4">
<%= render partial: 'form' %>
  </div>
 </div>
</div>
<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
