<footer class="text-muted py-5 bg-white mt-4">
<div class="contents">
    <p class="float-end mb-1">
      スイーツデリ
    </p>
    <p class="mb-1">COPYRIGHT &#169; スイーツデリ ALL RIGHTS RESERVED. </p>
    </div>
</footer>