<div class="center-block">
<div class="card">
  <div class="card-header">
    <h3>商品登録</h3>
  </div>
  <div class="card-body mx-auto">
    <%= render partial: 'form', locals: { product: @product } %>
  </div>
</div>
</div>
